In [ ]:
import data
data.load_data()

In [2]:
sql='''
create table if not exists youbike(
	_id serial primary key,
	sna varchar(50) not null,
	ar varchar(100),
	sarea varchar(50),
	mday timestamp,
	updateTime timestamp,
	total smallint,
	rent_bikes smallint,
	return_bikes smallint,
	lat real,
	lng real
);
'''

In [23]:
import psycopg2
conn=psycopg2.connect("postgresql://vincent_9gbc_user:AyMAZPJwEA89Ye96h7WFj5GLEw3gT8PH@dpg-cpscsdij1k6c738l6j1g-a.singapore-postgres.render.com/vincent_9gbc")

In [24]:
with conn: #with conn會自動commit(),手動close
    with conn.cursor() as cursor:  #自動close()
        sql='''
            create table if not exists youbike(
	        _id serial primary key,
	        sna varchar(50) not null,
	        ar varchar(100),
	        sarea varchar(50),
	        mday timestamp,
	        updateTime timestamp,
	        total smallint,
	        rent_bikes smallint,
	        return_bikes smallint,
	        lat real,
	        lng real,
            act bool
            );
            '''
        cursor.execute(sql) 

conn.close()

In [25]:
import data
all_data:list[dict]=data.load_data()

In [26]:
conn=psycopg2.connect("postgresql://vincent_9gbc_user:AyMAZPJwEA89Ye96h7WFj5GLEw3gT8PH@dpg-cpscsdij1k6c738l6j1g-a.singapore-postgres.render.com/vincent_9gbc")
with conn:
	with conn.cursor() as cursor:            
		insert_sql = '''
		INSERT INTO youbike(sna,sarea,ar,mday,updatetime,total,rent_bikes,return_bikes,lat,lng,act)
		VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);
		'''
		for site in all_data:
			cursor.execute(insert_sql,(site['sna'],
							  site['sarea'],
							  site['ar'],
							  site['mday'],
							  site['updateTime'],
							  site['total'],
							  site['rent_bikes'],
							  site['retuen_bikes'],
							  site['lat'],
							  site['lng'],
							  site['act']
							  ))
conn.close()

In [27]:
conn=psycopg2.connect("postgresql://vincent_9gbc_user:AyMAZPJwEA89Ye96h7WFj5GLEw3gT8PH@dpg-cpscsdij1k6c738l6j1g-a.singapore-postgres.render.com/vincent_9gbc")
with conn:
	with conn.cursor() as cursor:            
		insert_sql = '''
		INSERT INTO youbike(sna, sarea, ar, mday, updatetime, total, rent_bikes,return_bikes,lat,lng,act)
		VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);
		'''
		for site in all_data:
			cursor.execute(insert_sql,(site['sna'],
							  site['sarea'],
							  site['ar'],
							  site['mday'],
							  site['updateTime'],
							  site['total'],
							  site['rent_bikes'],
							  site['retuen_bikes'],
							  site['lat'],
							  site['lng'],
							  site['act']
							  ))
conn.close()